@import "./variables.scss";



.cartContainer {
  color: black;
  position: absolute;
  right: 5%;
  top: 20px;
  height: 400px;
  width:  300px;
  overflow: scroll;
  background-color: white;
  border: 1px solid $border-dark-grey;




  .itemContainer{
    position: relative;
    list-style-type: none;
    margin: 5% 0;
    


    

    .content {
      position: absolute;
      left: 50% ; 
      top: 5%;
      
    }


    img {
      position: relative;
      left: 5%;
      top: 0%;
      height: 100px;
      width: 75px;    

    }
}

}